
.carousel .carousel-item {
    text-align: center;
}
.carousel .carousel-control-next {
    background: lightgray;
}
.carousel .carousel-control-prev {
    background: lightgray;
}
.carousel {
    background: lightcoral;
}
form.d-flex ul li {
    list-style: none;
    padding: 5px;
    color: gray;
}
.d-flex {
    position: relative;
}
form.d-flex ul li {
    list-style: none;
    padding: 5px;
    color: gray;
}
form.d-flex ul {
    height: 0px;
    position: absolute;
    z-index: 2;
    background: white;
    padding: 5px;
    border-radius: 5px;
    top: 47px;
    right: -4px;
    opacity: 0;
    transition: opacity .2s;
} 
form.d-flex ul.display {
    opacity: 1;
    height: auto;
};
@media only screen and (max-width:576px){
    .carousel {
        background: lightgreen;
    }

}
@media only screen and (min-width:577px) and (max-widht:766px){
    .carousel {
        background: lightblue;
    }

}
@media only screen and (min-width:767px) and (max-widht:992px){
    .carousel {
        background: lightblue;
    }

}
